/* BackgroundVideo.css */

.background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .background-video {
    width: 100%; /* Ensure video covers entire width */
    height: 100%; /* Ensure video covers entire height */
    object-fit: cover;
  }


  .background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
  }
  

 