.email-input-container {
  text-align: center;
  margin-top: 1rem;
}

.email-input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%; /* Set width to 100% to make it flexible */
  text-align: center;
  border: 1px solid black;
}

.email-input:focus {
  outline: none;
  border: 1px solid black;
}
