.footer {
   
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  .email-container {
    margin-bottom: 10px;
  
  }
  
  input[type='email'] {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0rem;
    margin-bottom: 5rem;
    width: 300px;
    padding: 8px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid black; /* Add black underline */
  }
  
  .footer-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    text-align: left;
    margin-bottom: -5px;
    padding-left: 20px;
    color: black;
  }
  
  .footer-subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 13px;
    font-weight: 400;
    color: black;
  }
  
/*
  button[type='submit'] {
    position: absolute;
    top: 50%; 
    right: -30px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

button[type='submit'] svg {
    width: 20px;
    height: 20px;
    color: black;
}

*/
