@font-face {
    font-family: 'VCR';
    src: local('VCR'), url('/public/fonts/Taner\ Ardali\ \ Antikor\ Text\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .collection {
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-family: 'VCR';
    color: white;

    font-size: 0.7rem;
    z-index: 1000; 
  }


.left,
.right,
.center {
  flex: 1;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  padding-right: 40px;
}
  

  