/* Title.css */
@font-face {
  font-family: 'RC';
  src: local('RC'), url('/public/fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'VCR';
  src: local('VCR'), url('/public/fonts/Taner\ Ardali\ \ Antikor\ Text\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'TSB';
  src: local('TSB'), url('/public/fonts/Helvetica\ Neue\ LT\ Com\ 77\ Bold\ Condensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'HL';
  src: local('HL'), url('/public/fonts/Helvetica\ Neue\ LT\ Std\ 47\ Light\ Condensed.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HLB';
  src: local('HLB'), url('/public/fonts/Helvetica\ Neue\ LT\ Std\ 57\ Condensed.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.footer-container{
  text-align: center;
    position: fixed;
    padding-top: 10rem;
 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.title-container {
    text-align: center;
    position: fixed;
    margin-top: 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .title {
    font-family: 'TSB';
    font-size: 5rem;
    margin-bottom: -0.2rem;
    left: -2rem;

    font-weight: 700;
  }
  
  .subtitle {
    font-family: 'HLB', sans-serif;
    font-size: 1.5rem;
    left: 5rem;

    top: 9.5rem;
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 0.7rem;
  }
  
  .label {
    font-family: 'VCR', sans-serif;
    font-size: 12px;
    transform: translateY(-15rem) translateX(23rem);
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 0.7rem;
  }

  .korean {
    font-family: 'HLB', sans-serif;
    font-size: 1rem;
    top: 11rem;
    left: 7rem;

    font-weight: 400;

    margin-top: -0.5rem;
  }

  .temp {
    font-family: 'HLB', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0rem;
    color: white;
  }

  .mobile-subtitle {
    font-family: 'HLB', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0rem;
    color: white;
    position: fixed;
  }

  .mobile-korean {
    font-family: 'HLB', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0rem;
    position: fixed;
  }
    /* Media queries for smaller screens */
@media only screen and (max-width: 414px) {
  .title {
      font-size: 2.5rem; /* Adjusted font size for iPhone SE (2nd generation) and iPhone 13 mini */
  }

  .subtitle {
      font-size: 1.2rem; /* Adjusted font size for smaller screens */
     
  }

  .korean {
      font-size: 0.8rem; /* Adjusted font size for smaller screens */
       margin-top: -0.5rem;
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .title {
      font-size: 3rem; /* Adjusted font size for iPhone 12, 12 Pro, 11, and XR */
      
  }

  .subtitle {
      font-size: 1.3rem; /* Adjusted font size for smaller screens */
  
  }

  .korean {
  
      font-size: 0.9rem; /* Adjusted font size for smaller screens */
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
      font-size: 3.5rem; /* Default font size for larger screens */
  }

  .subtitle {
      font-size: 1.5rem; /* Default font size for larger screens */
  }

  .korean {
      font-size: 1rem; /* Default font size for larger screens */
  }
}


.email-container {
  margin-top: 30rem;
  margin-bottom: -5rem;
  display: flex;
  flex-direction: column;
}

.email-container-mobile {
  margin-top: 30rem;
  margin-bottom: -5rem;
  display: flex;
  flex-direction: column;
  
}

input[type='email'] {
  font-family: 'HLB', sans-serif;
  font-size: 10px;
  width: 300px;
  padding: 8px;
  border-radius: 0px;
  margin-bottom: -2rem;
  padding: 0;
  border: none;
  color: white;
  padding: 8px 0;
  background-color: transparent;
  border-bottom: 1px solid white; /* Add white underline */
}

.mobile-title {
  font-family: 'TSB', sans-serif;
    font-size: 3rem;
    margin-bottom: 0.7rem;
    margin-top: -3rem;
    font-weight: 400;
}

.mobile-up {
  font-family: 'TSB', sans-serif;
    font-size: 3rem;
    margin-bottom: 0.7rem;
    margin-top: 10rem; 
    font-weight: 400;
}

input[type='email']:focus {
  outline: none;
}

input[type='email']::placeholder {
  color: white;
  font-size: 8px;
  font-family: 'VCR', sans-serif;
  opacity: 0.5;
}

.footer-header {
  font-family: 'HLB', sans-serif;
  font-size: 12px;
  text-align: left;
  margin-bottom: -5px;
  margin-top: 0rem;
  padding-left: 20px;
  color: white;
}

.footer-subtitle {
  margin-top: 21rem;
  font-family: 'VCR', sans-serif;
  margin-bottom: 2rem;
  font-size: 10px;
  font-weight: 400;
  color: white;
}
.footer-subtitle-mobile {
  margin-top: 10rem;
  font-family: 'VCR', sans-serif;
  margin-bottom: 2rem;
  font-size: 10px;
  font-weight: 400;
  color: white;
}

.up {
  font-family: 'TSB', sans-serif;
    font-size: 5rem;
    margin-bottom: -0.2rem;
    margin-top: 30rem;
    font-weight: 700;
}

.thanks {
  font-family: 'VCR', sans-serif;
  font-size: 10px;
  font-weight: 400;
  transform: translateY(-7rem);
  margin-bottom: -60rem;

  color: white;
}

.invalid-email-msg{
  margin-top: -0.64rem;
  font-size: 8px;
 margin-bottom:0rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(4rem);
  color: white;
  font-family: 'VCR', sans-serif;
}

.invalid-email-msg-mobile{
  margin-top: -0.77rem;
  font-size: 8px;
 margin-bottom:0rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(4rem);
  color: white;
  font-family: 'VCR', sans-serif;
}

.white {
  background: transparent;
}

.image {
  width: 20px;
  left: 50%;
  
}

.footer{
  font-family: 'VCR', sans-serif;
    font-size: 8px;
    font-weight: 400;
    transform: translateY(6rem);
    padding-bottom: 50px; /* change back */
}

.footer a {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline */
}
