/* styles.css */

fieldset{
  border: none !important;
  outline: none !important;
}

body {
  font-family: 'Roboto-Condensed', sans-serif;
}

.waitlist-button {
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7rem;
  background: none;

}

.waitlist-text {
  font-family: 'Roboto Condensed', sans-serif;
  color:black;
  font-weight: 400;
  font-size: 13px;
  width: 8rem;
  height: 1.75rem;
  border: #fff;

}

.modal {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 1100px;
  height:600px;
}

*:focus {
  outline: none;
}

.modal h2 {
  margin-top: 9rem; /* Adjusted margin-top */
  margin-bottom: 0;
  text-align: center;
  font-size: 6rem; 
}

.modal p {
  margin-bottom: 2rem;
  margin-top: -0.6rem;
  font-size: 3rem; /* Adjusted font-size */
  font-weight: 700;
  text-align: center;
}

.thanks {
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 1rem; /* Adjusted font-size */
  font-weight: 400;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  height: 2rem;
  margin-top: 0; /* Adjusted margin-top */
}

.modal button {
  background-color: black;
  color: #fffff0;
  padding: 10px; /* Adjusted padding for better appearance */
  font-size: 0.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  border: none;
  width: 31.5%; /* Set the width to match the email input */
   /* Adjusted border-radius */
}


.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 60%; /* Adjusted height as needed */
}


.email-input {
  padding: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  width: 29.95%; /* Set width to 100% to make it flexible */
  text-align: center;
  border: 1px solid black;
  border-radius: 0;
}

.email-input:focus {
  outline: none;
  border: 1px solid black;
}

.update-button{
  color: white;
}

.waitlist-text:focus {
  outline: none;

}

.invalid-email-msg{
  margin-top: 2rem;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.email-container {
  position: relative;
}

@media only screen and (max-width: 414px) {
  
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

@media only screen and (max-width: 768px) {
  .modal {
    width: 90%; /* Adjust the width for smaller screens */
    height: auto; /* Allow height to adjust based on content */
    max-height: 70%; /* Limit the maximum height of the modal */
  }

  .modal h2 {
    margin-top: 5rem; /* Adjusted margin-top for smaller screens */
    font-size: 4rem; /* Adjusted font size for smaller screens */
  }

  .modal p {
    font-size: 2rem; /* Adjusted font size for smaller screens */
  }

  .thanks {
    margin-top: 2rem; /* Adjusted margin-top for smaller screens */
    font-size: 0.5rem; /* Adjusted font size for smaller screens */
  }

  .modal-buttons {
    margin-top: 1rem; /* Adjusted margin-top for smaller screens */
  }

  .modal button {
    /* Adjusted font size for smaller screens */
     /* Adjusted padding for smaller screens */
    width: 80%; /* Allow button width to adjust based on content */
  }

  .email-input {
    margin-top: 2rem; /* Adjusted margin-top for smaller screens */
    width: 80%; /* Adjusted width for smaller screens */
  }

  .invalid-email-msg {
    margin-top: 1rem; /* Adjusted margin-top for smaller screens */
    font-size: 0.5rem; /* Adjusted font size for smaller screens */
  }
}